NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://dbsmydauvhbnlqgezscl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRic215ZGF1dmhibmxxZ2V6c2NsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNzEzNjYsImV4cCI6MjA4ODc0NzM2Nn0.DiK_Pm5N8BAnJyaG6hRfH5D_pkf-0rpN8xipqlScv8A
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tS9PdLuI46nJmHTBymBkOA_OuyHw3h_
SUPABASE_SERVICE_ROLE_KEY=your-eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRic215ZGF1dmhibmxxZ2V6c2NsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE3MTM2NiwiZXhwIjoyMDg4NzQ3MzY2fQ.0WDCComl9_bASQnelDRKkiO4IgYPH3-POTyL8sNAQpM
DATABASE_URL=postgresql://postgres:Coldemail@12@db.dbsmydauvhbnlqgezscl.supabase.co:5432/postgres
GOOGLE_CLIENT_ID=1099294114553-aa9pvosqm59dvur90eiba5svpqmlt0bt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:3000/api/gmail/callback
TOKEN_ENCRYPTION_KEY=6245c5ca6dec3f87e2bd1bcf10628dbfa41f64485b8414a9788a4e693db2a3b6
CUSTOM_CRM_API_KEYS=
DEFAULT_PER_USER_DAILY_CAP=50
DEFAULT_PER_MINUTE_THROTTLE=10
FOLLOW_UP_DELAY_DAYS=2
SUPABASE_CRON_VERIFY_SECRET=coldemail@123!
ENABLE_DEMO_SEED=true
